div[class=header-container] {
	visibility: hidden;
	position: relative;
}

/* remove copyright to avoid confusion with PyTorch's copyright */
div[role=contentinfo] {
	visibility: hidden;
	position: relative;
}

div[class=site-footer] {
	visibility: hidden;
	position: relative;
}
